<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Right Now!</title>
        <style>
            *{
                text-align: center;
                margin-top: 0%;
            }
            #title {
                border: thick solid black;
                font-size: 16pt;
                display: inline-block;
                margin-top: 20%;
            }
            #time {
                border: thick solid black;
                font-size: 28pt;
                display: inline-block;
                margin-top: 5%;
            }
        </style>
    </head>
    <body>
        <div id="title">
            The time, RIGHT NOW, is:
        </div>
        <br>
        <div id="time">
            {{time}}
        </div>
    </body>
</html>
